<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <head>
      <meta charset="UTF-8">
      
      <link rel="stylesheet" type="text/css" media="all" href="/index_files/style.css">
      <style type="text/css">
        .wrapper {
          }
  </style>
  <link href="/index_files/css" rel="stylesheet" type="text/css">
  <link href="/index_files/css(1)" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <title>{{ page.title }} | S-Power</title>
    </head>
  <body id="top" class="home blog" style="background-color: rgb(255, 255, 255);" screen_capture_injected="true">
    
    
    <div class="wrapper_top">
      <div id="topmenu">
      </div>
  </div>
  
  <div class="wrapper_header">
    <div id="header">
      <div class="logo">
        <a class="logo-text" href="/">
          S-Power
        </a>
        
        <h1 class="title hidden">
          <a href="/">
            S-Power
          </a>
        </h1>
      </div>
{% include menu.html %}

      <div class="clear">
      </div>
    </div>
  </div>