{% include header.html %}

    <div id="slider">
    <div class="pages">
    </div>
    <ul class="slider_container">
      <li id="slider_slide_1" style="background:url(/index_files/slide_nr1.jpg) no-repeat #555 center;"></li>
                  </ul>
  </div>
  
  
  <div class="wrapper_header">
    <div id="tagline">
      <h2>
      </h2>
      
    </div>
  </div>
  <div class="wrapper">
    
    <div id="main">
      <div id="features">
        <div class="feature">
          <h2>
            Suuremad kliendid
          </h2>
          <div class="content">
            <p>
              &nbsp;
            </p>
            <p>
              <a href="./index_files/Elering-copy.png">
                <img class="size-full wp-image-13" style="float: left;" alt="Elering copy" src="./index_files/Elering-copy.png" width="108" height="37">
              </a>
            </p>
            <p>
              &nbsp;
            </p>
            <p>
              <a href="./index_files/elektrilevi.gif">
                <img class="alignnone size-full wp-image-11" alt="elektrilevi" src="./index_files/elektrilevi.gif" width="166" height="84">
              </a>
              <br>
              &nbsp;
            </p>
          </div>
        </div>
        <div class="feature feature_second">
          <h2>
            Meist
          </h2>
          <div class="content">
{{ site.meist }}

            <p>
              <img class="alignnone size-medium wp-image-49" alt="ISO" src="./index_files/ISO-300x140.jpg" width="300" height="140">
            </p>
          </div>
        </div>
      </div>
      
      <!-- 
<div id="showcase">
<div class="description">
</div>
<div class="work">
</div>
<div class='clear'>
</div>
</div>
-->
          
          
          <div id="content">
            
          </div>
          
          
          <div class="clear">
          </div>
      </div>
      <!-- /#main -->
  </div>

  {% include footer.html %}