{% include header.html %}

  <div class="wrapper">
    <div id="breadcrumb">
      <a href="/">
        S-Power
      </a>
      <span>
        Kontakt
      </span>
    </div>
    
    <div id="main">
      
      <div id="content">
        
        <div id="post-20" class="entry">
          <h1 class="title">
            Kontakt
          </h1>
          
{{ content }}

  </div>
  
          </div>
          
          
          <div class="clear">
          </div>
      </div>
      <!-- /#main -->
  </div>
{% include footer.html %}
